#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>
#include <dt-bindings/zmk/oskey.h>

/ {
    behaviors {
        os_sel: os_selector {
            compatible = "zmk,behavior-os-selector";
            #binding-cells = <1>;
        };

        os_test: os_key_test {
            compatible = "zmk,behavior-os-key";
            #binding-cells = <0>;
            /* Windows: W  macOS: M  Linux: L */
            bindings = <&kp W>, <&kp M>, <&kp L>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &os_sel OS_WIN  &os_sel OS_MAC
                &os_sel OS_LIN  &os_test
            >;
        };
    };
};
