DT_COMPAT_ZMK_BEHAVIOR_OS_SELECTOR := zmk,behavior-os-selector
DT_COMPAT_ZMK_BEHAVIOR_OS_KEY := zmk,behavior-os-key
DT_COMPAT_ZMK_BEHAVIOR_HOLD_FN := zmk,behavior-hold-fn

config ZMK_BEHAVIOR_OS_SELECTOR
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_OS_SELECTOR))

config ZMK_BEHAVIOR_OS_KEY
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_OS_KEY))

config ZMK_BEHAVIOR_HOLD_FN
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_HOLD_FN))

config ZMK_OSKEY_STATE
    bool
    default y if ZMK_BEHAVIOR_OS_SELECTOR || ZMK_BEHAVIOR_OS_KEY

choice ZMK_OSKEY_DEFAULT_OS
    prompt "Default OS"
    default ZMK_OSKEY_DEFAULT_OS_WINDOWS
    depends on ZMK_OSKEY_STATE

config ZMK_OSKEY_DEFAULT_OS_WINDOWS
    bool "Windows"

config ZMK_OSKEY_DEFAULT_OS_MACOS
    bool "macOS"

config ZMK_OSKEY_DEFAULT_OS_LINUX
    bool "Linux"

endchoice
